{% load static %}

<header class="sticky-top bg-primary text-white shadow-sm">
  <div class="container-fluid px-3 px-md-4 py-2">
    <div class="row align-items-center gy-2">
      <div class="col-4 col-md-2 text-center">
        <img src="{% static 'img/Logo_GCM.png' %}" class="logo img-fluid" alt="GCM">
      </div>
      <div class="col-4 col-md-8 text-center header-title">
        <h5 class="mb-1 d-md-none">SISTEMA DE GERENCIAMENTO DE RAS</h5>
        <h3 class="mb-0 d-none d-md-block">SISTEMA DE GERENCIAMENTO DE - RAS -</h3>
        <h6 class="d-none d-md-block">(REGIME ADICIONAL DE SERVIÇO)</h6>
      </div>
      <div class="col-4 col-md-2 text-center">
        <img src="{% static 'img/Logo_GPCM.png' %}" class="logo img-fluid" alt="GPCM">
      </div>
    </div>

    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-4 mt-2">
        <div class="container-fluid px-3">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRAS"
                  aria-controls="navbarRAS" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarRAS">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link btn btn-dark mx-1 my-1" href="{% url 'home' %}">Extrato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-dark mx-1 my-1" href="{% url 'service_list' %}">Marcação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-dark mx-1 my-1" href="{% url 'my_subscriptions' %}">Minhas Marcações</a>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle btn btn-dark mx-1 my-1" href="#" id="leisDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Leis e Normas
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="leisDropdown">
                    <li><a class="dropdown-item" href="{% static 'pdf/modelo1.pdf' %}" target="_blank">NORMATIVA SMSP 01/2024</a>
                    </li>
                    <li><a class="dropdown-item" href="{% static 'pdf/Lei 2338_23.pdf' %}" target="_blank">LEI 2338/23 (RAS)</a>
                    </li>
                    <li><a class="dropdown-item" href="{% static 'pdf/Decreto 3895_25.pdf' %}" target="_blank">DECRETO 3895/25</a>
                    </li> 
                  </ul>
                </li>
                                                      
              {% if perms.service.add_period and perms.service.add_service and perms.service.view_period %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle btn btn-dark mx-1 my-1" href="#" id="gestorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gestor
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="gestorDropdown">
                    <li><a class="dropdown-item" href="{% url 'period_list' %}">Períodos</a></li>
                    <li><a class="dropdown-item" href="{% url 'relatorio_pdf' %}">Relatório PDF</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle btn btn-dark mx-1 my-1" href="#" id="servidorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Servidor
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="servidorDropdown">
                    <li><a class="dropdown-item" href="{% url 'list_servidor' %}">Lista de Servidores</a></li>
                    <li><a class="dropdown-item" href="{% url 'register_servidor' %}">Registrar Servidor</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
            
            <form action="{% url 'logout' %}" method="post" class="d-flex">
              {% csrf_token %}
              <button type="submit" class="btn btn-dark my-1">Sair</button>
            </form>
          </div>
        </div>
      </nav>
    {% endif %}
  </div>
</header>
