{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style_login.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    
        <h3 class="text mb-4 display-4 fw-bold"> {{object.username}} </h3>       
        <table class="table table-striped table-bordered w-50 mx-start fs-5">
            
            <tbody>
                
                <tr>
                    <th > Cargo</th>
                    <td> {{ object.position }} </td>
                </tr>

                    <th> Nome de Guerra </th>
                    <td> {{ object.username }} </td>
                <tr>
                    <th> Matrícula </th>
                    <td> {{ object.registration }} </td>
                </tr>
                <tr>
                    <th> Nome Completo </th>
                    <td> {{ object.name }} </td>
                </tr>
                <tr>
                    <th> Data de Admissão </th>
                    <td> {{ object.admission_date }} </td>
                </tr>
                <tr>                    
                    <th> E-mail </th>
                    <td> {{ object.email }} </td>
                </tr>
                <tr>
                    <th> Telefone </th>
                    <td> {{ object.phone_number }} </td>             
                </tr>
            </tbody>
        </table>

</div>
    

{%endblock%}