{% extends 'base.html' %}

{% load static %}

{% block extra_head %} 
        <style>
            .login-card {
                max-width: 900px;
                width: 100%;
                margin: auto;
                margin-top: 30px;
            }
            .login-card .login-card-body {
                padding: 20px;
            }
            .login-card .login-card-image {
                padding: 20px;
                border-right: 1px solid rgba(255, 255, 255, 0.15);
            }
            .login-card-image-img {
                background-color: rgba(255, 255, 255, 0.070);
                border-radius: 10%;
                max-height: 250px;
                width: auto;
            }
            @media (max-width: 767px) {
                .login-card .login-card-image {
                    border-right: none;
                    border-bottom: 1px solid rgb(255, 255, 255);
                }
                .login-card-image-img {
                    max-height: 180px;
                }
                .login-card .login-card-body {
                    padding: 1rem;
                    
                }
            }
        </style>
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
{% if form.errors %}
    <div class="container-fluid p-1">
        <div class="alert alert-danger alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
        </div>
    </div>
{% endif %}
<div class="d-flex justify-content-center align-items-center min-vh-100 p-3">
    <div class="card login-card shadow-lg overflow-hidden bg-dark text-white">
        <div class="row g-0 align-items-center">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center login-card-image">
                <img src="{% static 'img/Brasão.png' %}"
                    alt="Brasão_Município"
                    class="img-fluid login-card-image-img">
            </div>

            <div class="col-12 col-md-8 login-card-body">
                <div class="border border-primary rounded p-4 bg-opacity-10 bg-black">
                    <h2 class="text-center mb-4">Login</h2>

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text"> <i class="bi bi-person-fill"></i> </span>
                            <input type="text" class="form-control" id="username" name="username" autocomplete="username" required placeholder="Usuário">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"> <i class="bi bi-lock"></i> </span>
                            <input type="password" class="form-control" id="password" name="password" autocomplete="new-password" required placeholder="Senha">
                        </div>

                        <button class="btn btn-light w-100 text-dark text-center fs-5" type="submit">Entrar</button>

                        <div class="mt-3 text-center">
                            <a href="{% url 'register_servidor' %}" class="text-white text-decoration-none">Cadastrar-se</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}